
# Server Configuration
NODE_ENV=development
PORT=5000
CLIENT_URL=http://localhost:5173

# Database

MONGO_URI=your_mongodb_connection_string


# JWT Authentication

JWT_ACCESS_SECRET=your_access_secret
JWT_REFRESH_SECRET=your_refresh_secret
JWT_ACCESS_EXPIRES=15m
JWT_REFRESH_EXPIRES=7d


# Super Admin (Initial Setup)

SUPERADMIN_NAME=admin_name
SUPERADMIN_EMAIL=admin@example.com
SUPERADMIN_PASSWORD=strong_password
SUPERADMIN_PHONE=+2348000000000


# Payment (Paystack - Secret Key)

PAYSTACK_SECRET_KEY=sk_test_your_secret_key